.react-board-layout {
    visibility: hidden;
    position: absolute;
    transition: height 300ms ease;
    transition-property: transform;
}

.react-board-layout.transitioning {
    visibility: visible;
}

.react-board-layout.active {
    visibility: visible;
    z-index: 0;
}