.board-set {
    position: relative;
    height: 100%;
    padding: 10px 0 30px 10px;
}

.board-thumbnails {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    padding: 5px 20px;
    width: 100%;
    border-top: 1px solid #cccccc;
    z-index: 15;
    background-color: #f4f4f8;
    transition: all 0.2s ease;
    text-align: center;
    box-shadow: 0 -4px 3px -3px rgba( 0, 0, 0, .05 );
}

.board-thumbnail {
    display: inline-block;
    text-align: center;
    height: 20px;
    width: 80px;
    line-height: 20px;
    margin-right: 20px;
    cursor: pointer;
    color: #555555;
}

.board-thumbnail:hover {
    text-decoration: underline;
}

.board-thumbnail.selected {
    color: #1184CE;
    text-decoration: none;
}

.board-thumbnail:last-of-type {
    margin-right: 0;
}

.boards-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.board-edge {
    position: absolute;
    top: 0;
    width: 30px;
    height: 100%;
    z-index: 0;
}

.board-edge--left {
    left: 0;
}

.board-edge--right {
    right: 0;
}