.app {
    position: relative;
    height: 100%;
    background-color: #fafafa;
}

.card {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    border-radius: 6px;
    text-align: center;
    position: relative;
    height: 100%;
    width: 100%;
}

.card .title {
    height: 40px;
    line-height: 40px;
    border-bottom: 3px solid #cccccc;
    margin: 0 10px;
    cursor: move;
}
